header{
    background-color: #79242f;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke; 
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #79242f;
}

h4 {
    color:#79242f
}

p {
    color: #333;
    text-align: justify;
    margin: auto;
    width: 80%;
}


.card {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: auto;
    margin-bottom: 30px; /* Espacio entre tarjetas*/
    max-width: 400px; /* Ancho máximo de la tarjeta */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Altura fija o proporcional para las imágenes */
    object-fit: contain; /* Cambiado a contain para mantener la relación de aspecto*/
}

.card-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;/*esto hace que nuestras tarjetas cambien de posición de acuerdo al espacio*/
    margin-bottom: 20px;
}

#Menu li > a {
    font-size: 16px;
    font-weight: bold;
    color:#79242f
}

#Menu form > ::placeholder{
    font-size: 14px;
}

#Menu form > button{
    font-size: 14px;
    font-weight: bold;
}

header > p{
    color:white
}

nav{
    background-color: whitesmoke;
    color:#79242f;
}
